{% load cms_tags menu_tags sekizai_tags i18n postman_tags staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Wenyenchi{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />

    

    <!-- CSS Styling -->
    <style>

 .navbar-default {
    background-color: #2ECC71;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
  background: white;
}

html,body {
  background-color: lightgrey;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}page-break-before: 

</style>
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block postman_menu %}
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-right" id="postman_menu"">{% postman_unread as unread_count %}
                {% if user.is_authenticated %}
 <li><a href="{% url 'postman:inbox' %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
 <li><a href="{% url 'postman:sent' %}"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;{% trans "Sent Messages" %}</a></li>
 <li><a href="{% url 'postman:write' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;{% trans "Write" %}</a></li>
 <li><a href="{% url 'postman:archives' %}"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span>&nbsp;{% trans "Archives" %}</a></li>
 <li><a href="{% url 'postman:trash' %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;{% trans "Trash" %}</a></li>
 <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span>{% trans "Logout" %}</a></li>
 {% else %}
<li><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>{% trans "Login" %}</a></li>
{% endif %}
</ul>

        </div>

    </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>


