{% extends "postman/base.html" %}
{% load i18n staticfiles bootstrap3 %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}{# using the available admin jQuery is enough #}
{# should not be necessary since AS v1.3 with AJAX_SELECT_BOOTSTRAP set #}
{#<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>#}
{% endif %}
{{ form.media }}{# for ajax_selects (v1.3.6 at least) #}
{% endblock %}
{% block content %}
<div id="postman">
<h1>{% block pm_write_title %}{% endblock %}</h1>
<div class="container">
<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}

<table class="table table-striped">
{% block pm_write_recipient %}{% endblock %}
<div class="container form-signin">
{% bootstrap_form form layout='inline' %}
{% buttons %}
<button type="submit" class="pm_btn pm_btn-send">{% trans "Send" %}</button>
{% endbuttons %}
</div>
</table>
</div>
</form>
</div>

{% endblock %}