{% extends 'survey/base.html' %}
{% load i18n %}
{% load survey_extras %}

{% block title %} {{survey.name}} {% endblock title %}

{% block extrajs %}
    {{response_form.media}}
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-8">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="padding-bottom: 20px;padding-top: 20px;">{{survey.name}}h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">{{survey.description|safe}}</p>
	  <form action="{% url 'survey-detail' id=survey.id %}" method="post">
	    {% csrf_token %}
        {% for category in categories %}
        <h3> {{category}} </h3>
        <p> {{category.description}} </p>
		<div class="panel-group" id="accordion">
		   <div class="panel panel-default">
				    <div class="panel-heading">
				        <h3 class="panel-title"> <a
				        data-toggle="collapse"
				        data-parent="#accordion"
				        href="#collapse{{category.slugify}}">
				            {% trans "Answer this part" %}
			            </a></h3>
				    </div>
                    <div class="category-container">
				        <div id="collapse{{category.slugify}}" class="panel-collapse collapse
				        {{ response_form|collapse_form:category }}">
				            <div class="panel-body">
	                           {% include "survey/question.html" %}
                            </div>
		                </div>
                    </div>
            </div>
		</div>
		{% empty %}
            <h3> {% trans "Questions" %} </h3>
            {% include "survey/question.html" %}
        {% endfor %}
		<br>
		<button class="btn btn-outline-success my-2 my-sm-0 font-italic" type="submit" >Submit</button>
	  </form>
		       
{% endblock %}