{% extends 'reviews\base.html' %}
{% load comments %}

<div class="row">
<div class="col-md-8">
{% if latest_review_list %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="padding-bottom: 20px;padding-top: 20px;">Recent Reviews (Counties)</h6>
	{% for review in latest_review_list %}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-black"><a href="{% url 'counties:review_detail' review.id %}">
        {{ review.counties.name }}
        </a></strong>
		<small class="d-block text-black">Published on {{ review.pub_date }}</small>
		<small class="d-block text-black">Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></small>
		<small class="d-block text-black" style="padding-bottom: 20px;">{% get_comment_count for review as comment_count %} {{ comment_count }} comment(s)</small>
		<!-- Image section -->
		{% if review.image %}
		<img class="center-block img-responsive img-thumbnail" style="margin-bottom: 20px; width: 70%;
  height: auto;" src="{{ review.image.url }}">
		{% else %}
		<!-- empty space -->
		&nbsp;
	    &nbsp;
		{% endif %}
		<!-- comment section -->
		{{ review.comment }}
	{% endfor %}
	{% else %}
    <div class="media-body pb-3 mb-0 small lh-125 border-gray">
		<strong class="d-block text-gray-dark font-italic text-black" style="padding-bottom: 20px;">No reviews available. Be the first.</strong>
      </div> 
    {% endif %}
      </p>
    </div>
	<small class="d-block text-right mt-3">
      <a href="{% url 'reviews:counties_list' %}">Review County</a>
    </small>
  </div>
  </div>
  <!-- Sidebar -->
  <aside class="col-md-4 blog-sidebar" style="padding-top: 20px;padding-bottom:20px;">
      <div class="p-4 mb-3 bg-white rounded">
        <h4 class="font-italic">Social Mission</h4>
		<p class="mb-0">To create a <strong>community of problem-solvers</strong> and to connect problem-solvers with people who have <strong>shared community problems and community interests.</strong> REGISTER NOW. BECOME A PROBLEM-SOLVER.
     </div>
	 <!-- Ad section -->
	 <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Partner ADs</text></svg>
        </div>
  </aside>
</div>
<!-- end of row reviews -->
{% if user.is_authenticated %}
 <div class="row">
 <div class=" col-md-8">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recommendations (Counties)</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a href="{% url 'counties:user_recommendation_list' %}"> See Recommendations</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
{% else %}
<div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-black">No Recommendations</strong>
          <a href="{% url 'counties:counties_list' %}">Review County</a>
        </div>
        <span class="d-block">Start reviewing to create a connection</span>
      </div>
</div>
  </div>
 </div>
 </div>
{% endif %}
<!-- end of recommendations -->
{% include 'footer.html' %}