{% load i18n %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% load staticfiles %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
{% with user|saved_queries as user_saved_queries_ %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block helpdesk_title %}Wenyenchi{% endblock %} :: {% trans " Wenyenchi" %}</title>

    <!-- Bootstrap Core CSS -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% else %}
    <link href="{% static 'helpdesk/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endif %}
    
    <!-- MetisMenu CSS -->
    <link href="{% static 'helpdesk/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    {% else %}
    <link href="{% static 'helpdesk/vendor/morrisjs/morris.css' %}" rel="stylesheet">
    {% endif %}

    <!-- DataTables CSS -->
    <link href="{% static 'helpdesk/vendor/datatables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'helpdesk/vendor/datatables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'helpdesk/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='{% static "helpdesk/helpdesk-extend.css" %}' type='text/css'  media="screen" >

    <!-- Custom Fonts -->
    <link href="{% static 'helpdesk/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/jquery/jquery.min.js' %}"></script>
    {% endif %}

    <!-- jQuery UI DatePicker -->
    <script src='{% static "helpdesk/vendor/jquery-ui/jquery-ui.min.js" %}' type='text/javascript' language='javascript'></script>
    <link href="{% static 'helpdesk/vendor/jquery-ui/jquery-ui.css' %}" rel="stylesheet">

    <!-- Bootstrap Core JavaScript -->
    {% if helpdesk_settings.HELPDESK_USE_CDN %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% else %}
    <script src="{% static 'helpdesk/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    {% endif %}

    <!-- DataTables JavaScript -->
    <script src="{% static 'helpdesk/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'helpdesk/vendor/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'helpdesk/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'helpdesk/dist/js/sb-admin-2.js' %}"></script>
	<link href="{% static 'offcanvas.css' %}" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!-- RSS -->
    <link rel='alternate' href='{% url 'helpdesk:rss_user' user.get_username %}' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
    <link rel='alternate' href='{% url 'helpdesk:rss_activity' %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
    <link rel='alternate' href='{% url 'helpdesk:rss_unassigned' %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    /* hide google translate top bar */
    .goog-te-banner-frame {display: none !important;}
    .goog-te-balloon-frame {display: none !important;}
    /* hide google translate tooltips (generated for every translated item) */
    .goog-tooltip {display: none !important; }
    </style>

    <style type="text/css">
    /* header */
    #dropdown li.headerlink { width: auto; float: left; text-align: center; }

    /* query list */
    #dropdown li.headerlink ul {    display: none;
                                    text-align: left;
                                    position: absolute;
                                    padding: 5px;
                                    z-index: 2; }
    /* query entries */
    #dropdown li.headerlink:hover ul { display: block; width: auto; }
    #dropdown li.headerlink:hover ul li { padding: 5px; margin: 1px; float: none; display: block; }
    
    </style>

    {% block helpdesk_head %}{% endblock %}

</head>

<body id="helpdesk-body" class="bg-light">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-black">
  <a class="navbar-brand mr-auto mr-lg-0 text-green font-italic header-text-lead" href="/">Wenyenchi</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link header-text-lead font-italic" href="/">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-text-lead font-italic" href="/reviews">Reviewer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-text-lead font-italic" href="/polls">Polls</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link header-text-lead font-italic" href="/survey">Surveys</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link header-text-lead font-italic" href="#">Magazine</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link header-text-lead font-italic" href="/messages">Messaging</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle header-text-lead font-italic" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item header-text-lead font-italic" href="/helpdesk">HelpDesk</a>
          <a class="dropdown-item header-text-lead font-italic" href="/contact">Contact Us</a>
          <a class="dropdown-item header-text-lead font-italic" href="#">FAQS</a>
        </div>
      </li>
    </ul>
	<!-- registration/signin -->
	{% if user.is_authenticated %}
    <li class="nav-item">
	<a class="nav-link header-text-lead font-italic" href="{% url 'reviews:user_review_list' user.username %}">Hi, {{ user.username }}</a>
	</li>
	<!-- empty space -->
	&nbsp;
	&nbsp;
	<form class="form-inline my-2 my-lg-0">
	  <a href="{% url 'accounts:logout' %}"style="color:inherit" >
      <button class="btn btn-outline-success my-2 my-sm-0 header-text-lead font-italic" type="submit">SignOut</button>
   </a>
    </form>
	{% else %}
	<li class="nav-item">
	<a class="nav-link header-text-lead font-italic" href="{% url 'reviews:review_list' %}">Hi, Guest</a>
	</li>
    <form class="form-inline my-2 my-lg-0">
	  <a  href="{% url 'registration_register' %}"style="color:inherit" >
      <button class="btn btn-outline-success my-2 my-sm-0 header-text-lead font-italic" type="submit">SignUp</button>
   </a>
    </form>
	<!-- empty space -->
	&nbsp;
	&nbsp;
	<form class="form-inline my-2 my-lg-0">
	  <a href="{% url 'accounts:login' %}"style="color:inherit" >
      <button class="btn btn-outline-success my-2 my-sm-0 header-text-lead font-italic" type="submit">SignIn</button>
   </a>
    </form>
	{% endif %}
  </div>
</nav>

    <div id='container' class="container">
        <div id='header' class="row">
            {% include "helpdesk/navigation.html" %}
        </div>

        <div id='body' class="row">
            {% block helpdesk_body %}{% endblock %}
        </div>

        <div id='footer' class="row">
            {% include "footer.html" %}
        </div>
    </div>
    {% include "helpdesk/debug.html" %}

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'helpdesk/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
	
    <script src="{% static 'helpdesk/dist/js/sb-admin-2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'offcanvas.js' %}"></script>
</body>
{% endblock %}
{% analytical_body_bottom %}
</html>
{% endwith %}
