{% load comments bootstrap3 i18n static %}
<div class="container text-center">
<div class="panel panel-info">
<div class="panel-heading">
<dl id="comments">
  {% for comment in comment_list %}
    <dt id="c{{ comment.id }}">
      <p class="panel panel-info" style=" font-weight: 200;font-family: Roboto"> Posted on {{ comment.submit_date }} by {{ comment.name }}</p>
    </dt>
    <dd>
      <p style=" font-weight: 200;font-family: Roboto">{{ comment.comment }}</p>
      <li style="margin-bottom: 20px;"><a href="comments/flag/{{ comment.id }}/">{% trans "Flag Comment" %}</a></li>
  {% endfor %}
</dl>
</div></div></div>
