{% extends 'reviews/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
<div class="col-md-8">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0 text-center" style="padding-bottom: 20px;padding-top: 20px;">{{ parks.name }}</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-black">{{ parks.review_set.count }} reviews ({{ parks.average_rating | floatformat }} average rating)</strong>
		<!-- add review form -->
		<strong class="d-block text-black" style="padding-bottom: 20px;">Add Review</strong>
		   {% if error_message %}
		   <strong>{{ error_message }}</strong>
		   {% endif %}
		<form action="{% url 'parks:add_review' parks.id %}" method="post" class="post-form" enctype="multipart/form-data">
           {% csrf_token %}
           {% bootstrap_form form layout='inline' %}
           {% buttons %}
        <button type="submit" class="btn btn-primary">
           {% bootstrap_icon "star" %} Add
        </button>
           {% endbuttons %}
        </form>
      </p>
    </div>
  </div>
  
<div class="row">
<div class="col-md-8">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="padding-bottom: 20px;padding-top: 20px;">Recent Reviews (Parks)</h6>
    <!-- all reviews section -->
	{% if parks.review_set.all %}
	<div class="media text-muted pt-3">
	    {% for review in parks.review_set.all %}
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		<small class="d-block text-black">Published on {{ review.pub_date }}</small>
		<small class="d-block text-black">Rated {{ review.rating }} of 5 by {{ review.user_name }}</small>
		<small class="d-block text-black" style="padding-bottom: 20px;">{{ review.comment }}</small>
      </p>
    </div>
	    <small class="d-block text-right mt-3"><a href="{% url 'parks:parks_list' %}">Review Park</a></small>
	    {% endfor %}
		{% else %}
    <div class="media-body pb-3 mb-0 small lh-125 border-gray">
     <strong class="d-block text-gray-dark font-italic text-black" style="padding-bottom: 20px;">No reviews available. Be the first.</strong>
    </div> 
    {% endif %}
  </div>
 </div>
</div>

  <aside class="col-md-4 blog-sidebar" style="padding-top: 20px;padding-bottom:20px;">
      <div class="p-4 mb-3 bg-white rounded">
        <h4 class="font-italic">Social Mission</h4>
        <p class="mb-0">To create a <strong>community of problem-solvers</strong> and to connect problem-solvers with people who have <strong>shared community problems and community interests</strong>. REGISTER NOW. BECOME A PROBLEM-SOLVER.
     </div>
	 <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Partner ADs</text></svg>
        </div>
  </aside>
</div>
<!-- end of row reviews -->
 {% endblock %}