{% extends 'reviews\base.html' %}

{% block title %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">
<h2>Public Offices</h2>
{% endblock %}
</div>
{% block content %}
{% if public_office_list %}
<div class="container">
<div class="row">
    {% for public_office in public_office_list reversed %}
    <div class=" text-center col-xs-12 col-lg-6">
        <h4><a href="{% url 'reviews:public_office_detail' public_office.id %}">
        {{ public_office.name }}
        </a></h4>
        <h5>{{ public_office.review_set.count }} reviews</h5>
        <h5>{{ public_office.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No offices are available.</p>
{% endif %}
</div>
</div>
</div>
{% endblock %}