{% extends 'reviews\base.html' %}

{% block title %}
<div class="row">
<div class="col-md-12">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
   <h6 class="border-bottom border-gray pb-2 mb-0" style="padding-bottom: 20px;padding-top: 20px;">List of Associations</h6>
{% endblock %}
{% block content %}
     {% if associations_list %}
    <div class="media text-muted pt-3">
     {% for associations in associations_list reversed %}
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#2f0"></rect><text x="50%" y="50%" fill="#2f0" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark font-italic text-purple">{{ associations.name }}</strong>
      </div>
	  <div class="media-body pb-3 mb-0 small lh-125 border-gray">
		<strong class="d-block text-gray-dark font-italic text-red">{{ associations.review_set.count }} reviews</strong>
      </div>
	  <div class="media-body pb-3 mb-0 small lh-125 border-gray">
		<strong class="d-block text-gray-dark font-italic text-black" style="padding-bottom: 20px;">{{ associations.average_rating | floatformat }} average rating</strong>
      </div> 
    </div>
	{% endfor %}
	{% else %}
    <div class="media-body pb-3 mb-0 small lh-125 border-gray">
		<strong class="d-block text-gray-dark font-italic text-black" style="padding-bottom: 20px;">No Associations are available.</strong>
      </div> 
    {% endif %}
   </div>
</div>
</div>
{% endblock %}
