
<div class="container-fluid">
<div class="panel panel-primary">
<div class="panel-heading">
<h2 class="text-center">&copy; 2018 | Wenyenchi -The Public Accountability Project (P.A.P)</h2>
</div>
</div>
</div> <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">The Accountability Project © 2018 - 2019</small>
	  <small class="d-block mb-3 text-muted">Powered by Django, Bootstrap & Scikit-Learn</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/reviews">Reviewer</a></li>
        <li><a class="text-muted" href="/polls">Polls</a></li>
        <li><a class="text-muted" href="/survey">Surveys</a></li>
        <li><a class="text-muted" href="/messages">Messaging</a></li>
        <li><a class="text-muted" href="#">Magazine</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Support</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/helpdesk">Help Desk</a></li>
        <li><a class="text-muted" href="/contact">Contact Us</a></li>
        <li><a class="text-muted" href="#">FAQS</a></li>
        <li><a class="text-muted" href="#">Documentation</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Partners</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Health Care</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="/privacy">Privacy</a></li>
        <li><a class="text-muted" href="/terms">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>