{% load cms_tags menu_tags sekizai_tags i18n postman_tags staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Wenye-nchi{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- CSS Styling -->
    <style>

 .navbar-default {
    background-color: #2ECC71;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {
  background: white;
}

html,body {
  height: 100%;
  background-color: lightgrey;
  text-align: center;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 2px black;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}


</style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Wenye-nchi</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                      {% if user.is_authenticated %}
                        <li><a href="/reviews"><span class="glyphicon glyphicon-thumbs-down"></span>{% trans "Reviewer" %}</a></li>
                        <li><a href="/survey"><span class="glyphicon glyphicon-eye-open"></span>{% trans "Surveys" %}</a></li>
                        <li><a href="/polls"><span class="glyphicon glyphicon-comment"></span>{% trans "Polls" %}</a></li>
                        <li><a href="/news"><span class="glyphicon glyphicon-calendar"></span>{% trans "News" %}</a></li>
                        <li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span>{% trans "Messages" %}</a></li>
                        <li><a href="/helpdesk"><span class="glyphicon glyphicon-headphones"></span>{% trans "Helpdesk" %}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span>{% trans "Logout" %}</a></li>
                        {% else %}
                        
                        <li><a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-in"></span>{% trans "Login" %}</a></li>
                        </ul>
						{% endif %}
						
                    </ul>
                </div>

    </div>
</nav>
{% block body %}
<div class="container">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover">
                        <h1 class="cover-heading">Welcome to Wenye-nchi - The Public Accountability Project (PAP)</h1>
                        <p class="lead">This is a Kenyan crowdsourcing platform whose sole intention is to create a community of problem solvers.</p> <p class="lead">If man can't learn how to solve life's problems, mankind is doomed.</p>
                        <p>The project consists of a number of apps each providing a solution to a particular problem.</p>
                        <p><strong>Reviewer App</strong> where community members get to rate public offices, instituitions and companies based on service delivery, diversity management, fiscal management, land, water & waste management, responsiveness to community grievances, healthcare, education e.t.c.</p>
                        <p>The reviewer writes a review and then rates their choice on a scale of 1 (worst) to 5 (best). The community members will then use the information to generate reports and recommendations for each rated entity. The information will show the development progress of the country from the citizens' point of view.</p>
                        <p><strong> Survey App</strong> is geared at collecting huge amounts of data for a specific subject or area (ideal for companies, researchers and policy makers).</p>
                        <p><strong>Polls App </strong>is a place where community members can create and run their own specific polls. This is ideal for individuals, pollsters and media professionals.</p>
                        <p><strong>Petitions App</strong> is a place where petitioners can create and sign petitions to spur action for a cause they are championing.</p>
                        <p><strong>Music App</strong> is a place where artists, deejays, spoken word artists  and podcasters upload and share their creations. The artists, deejays, spoken word artists and podcasters will be added as creators and their events will be featured on the</p>
                         <p><strong>Events App</strong>;which is a catalogue of Kenya related events happening across the world including all exhibitions, workshops, trainings, book launches, readings, concerts, festivals, auditions, films, plays and all cinema schedules complete with cast, crew and all featured performers.</p>
                        <p><strong>Classifieds App</strong> is a place where community members and entrepreneurs can post ads for jobs, products and services.</p>
                        <p><strong>Message App</strong> is a place where community members can interact and engage with each other including staff.</p>
                        <p><strong>Helpdesk App</strong> is a place where community members can raise issues with the administrator and staff members.</p>
                        <p><strong>News App</strong> is where community members share and publish their stories.</p>
                        <div class="inner">
                            <a href="/accounts/register" class="btn btn-lg btn-success">Register</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="mastfoot">
                        <div class="inner">
                            <p>&copy; 2018 | Wenye-nchi -The Public Accountability Project (PAP) | <a href="terms.html">  All Rights Reserved</a> | <a href="/contact">  Advertising</a> |<a href="/terms">  Terms</a> |<a href="/privacy">  Privacy Policy</a>|<a href="/contact"> Contact Us </a>|<a href="/contact"> Partner With Us </a> | Designed & Developed by <a href="https://www.linkedin.com/in/brian-wendo/">Brian Wendo</a></p>
                        </div>
                    </div>
      </div>
{% endblock %}
</body>
</html>
