{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
<div class="container text-center">
<div class="panel panel-default">
<div class="panel-body">
{% trans "Password reset" %}
</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
<p>
    {% blocktrans %}
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
    {% endblocktrans %}
</p>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}