{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
<div class="container text-center">
<div class="panel panel-default">
<div class="panel-body">
{% trans "Confirm password reset" %}
</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
<p>{% trans "Enter your new password below to reset your password:" %}</p>
</div>
<div class="container text-center">
<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Set password' %}" />
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}