{% extends 'reviews\base.html' %}

{% block title %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">
<h2>Colleges</h2>
{% endblock %}
</div>
{% block content %}
{% if colleges_list %}
<div class="container">
<div class="row">
    {% for colleges in colleges_list reversed %}
    <div class="col-xs-12 col-lg-4">
        <h4><a href="{% url 'colleges:colleges_detail' colleges.id %}">
        {{ colleges.name }}
        </a></h4>
        <h5>{{ colleges.review_set.count }} reviews</h5>
        <h5>{{ colleges.average_rating | floatformat }} average rating</h5>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container text-center">
    <p>No colleges are available.</p></div>
{% endif %}
</div>
</div>
</div>
{% endblock %}